/* 商品1 */
[data-type='commodityList1']{
  width: 375px;
  height: auto;
}
[data-type='commodityList1'] .item{
  width: 345px;
  height: 265px;
  margin: 15px;
  background-color: #fff;
  border-radius: 5px;
}

[data-type='commodityList1'] .item img{
  width: 345px;
  height: 185px;
  border-radius: 5px 5px 0 0;
}
[data-type='commodityList1'] .info{
  width: 335px;
  height: 60px;
  padding: 5px 5px;
}
[data-type='commodityList1'] .infoCon{
  width: 315px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
[data-type='commodityList1'] .infotext{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: #000; */
  width: 300px;
  height: 40px;
}
[data-type='commodityList1'] .name{
  width: 335px;
  font-size: 15px;
  font-weight: 600;
  color: #282828;
  text-align: left;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  margin-bottom: 10px;
}
[data-type='commodityList1'] icon{
  color: #e94340;
}
[data-type='commodityList1'] text{
  font-size: 12px;
}
[data-type='commodityList1'] .price{
  font-size: 15px;
  color: #e94340;
  font-weight: 600;
}
[data-type='commodityList1'] .priceUnit{
  font-size: 12px;
  color: #343434;
}
[data-type='commodityList1'] .salesVolume{
  font-size: 15px;
  color: #b9b9b9;
  padding-left: 15px;
}
/* 商品2 */
[data-type='commodityList2']{
  width: 355px;
  height: auto;
  margin: 0 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
[data-type='commodityList2'] .item{
  width: 172.5px;
  height: 265px;
  margin: 2.5px;
  background-color: #fff;
  border-radius: 5px;
}
[data-type='commodityList2'] .item img{
  width: 172.5px;
  height: 172.5px;
  border-radius: 5px 5px 0 0;
}
[data-type='commodityList2'] .info{
  width: 152.5px;
  height: 60px;
  padding: 5px 10px;
}
[data-type='commodityList2'] .infoCon{
  width: 152.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
[data-type='commodityList2'] .name{
  text-align: left;
  width: 152.5px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  color: #282828;
  overflow:hidden;
  margin-bottom: 5px;
}
[data-type='commodityList2'] icon{
  color: #e94340;
}
[data-type='commodityList2'] .infoCon div{
  font-size: 12px;
}
[data-type='commodityList2'] .price{
  text-align: left;
  font-size: 15px;
  color: #e94340;
  font-weight: 600;
}
[data-type='commodityList2'] .priceUnit{
  font-size: 12px;
  color: #343434;
}
[data-type='commodityList2'] .salesVolume{
  font-size: 15px;
  color: #b9b9b9;
}
/* 商品3 */
[data-type='commodityList3']{
  width: 365px;
  height: auto;
}
[data-type='commodityList3'] .item{
  width: 345px;
  height: 130px;
  margin: 15px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
[data-type='commodityList3'] .item img{
  width: 140px;
  height: 130px;
  border-radius: 5px 0 0 5px;
}
[data-type='commodityList3'] .info{
  width: 190px;
  height: 110px;
  padding: 5px 5px;
}
[data-type='commodityList3'] .infoCon{
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
[data-type='commodityList3'] .name{
  text-align: left;
  width: 190px;
  height: 75px;
  font-size: 15px;
  font-weight: 600;
  color: #282828;
  overflow:hidden;
  margin-bottom: 5px;
}
[data-type='commodityList3'] icon{
  color: #e94340;
}
[data-type='commodityList3'] .infoCon div{
  font-size: 12px;
}
[data-type='commodityList3'] .price{
  text-align: left;
  font-size: 15px;
  color: #e94340;
  font-weight: 600;
}
[data-type='commodityList3'] .priceUnit{
  font-size: 15px;
  color: #343434;
}
[data-type='commodityList3'] .salesVolume{
  font-size: 15px;
  color: #b9b9b9;
}
/* 导航1 */
[data-type='nav1']{
  width: 345px;
  min-height: 103px;
  padding: 5px 15px;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
[data-type='nav1'] .item{
  width: 75px;
  height:103px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  background-color: #fff;
  margin: 5px 0;
}
[data-type='nav1'] .item icon{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3399f4;
  color: #fff;
  font-size: 22.5px;
}
[data-type='nav1'] .item div{
  text-align: center;
  font-size: 14px;
  color: #484848;
  padding: 5px 0;
  width: 100%;
}
/* 导航2 */
[data-type='nav2']{
  width: 345px;
  min-height: 103px;
  padding: 5px 15px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
[data-type='nav2'] .item{
  width: 170px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  margin: 2.5px 0;
}
[data-type='nav2'] .item icon{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3399f4;
  color: #fff;
  font-size: 22.5px;
  margin: 10px;
}
[data-type='nav2'] .item div{
  text-align: left;
  font-size: 14px;
  color: #484848;
  padding: 5px 0;
}
/* 导航3 */
[data-type='nav3']{
  width: 375px;
  min-height: 60px;
  height: auto;
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
[data-type='nav3'] .item{
  width: 89.7px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  margin: 2px 2px;
}
[data-type='nav3'] .item icon{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3399f4;
  color: #fff;
  font-size: 14px;
  margin: 0 5px;
}
[data-type='nav3'] .item div{
  text-align:14px;
  color: #484848;
}
/* 导航4 */
[data-type='nav4']{
  width: 375px;
  min-height: 60px;
  height: auto;
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
[data-type='nav4'] .item{
  width: 88.7px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 14px;
  color: #585858;
  margin: 2.5px 2.5px;
}
/* search1_dom 搜索 */
[data-type='search1']{
  width: 355px;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  margin: 0;
}
[data-type='search1'] icon{
  width: 40px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #bebebe;
  font-size: 15px;
}
[data-type='search1'] input{
  width: 310px;
  height: 39px;
  font-size: 15px;
  color: #484848;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
  border-width: 0;
}
/* search2_dom 搜索 */
[data-type='search2']{
  width: 355px;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
[data-type='search2'] icon{
  width: 40px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #bebebe;
  font-size: 15px;
  border: 1px solid #bebebe;
  border-right-width: 0;
}
[data-type='search2'] input{
   width: 310px;
  height: 38px;
  font-size: 15px;
  color: #484848;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
  border: 1px solid #bebebe;
  border-left-width: 0;
}
/* 公告 */
[data-type='placard1'] {
  width: 375px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff9f5;
  font-size: 14px;
  margin: 0;
}

[data-type='placard1'] icon, [data-type='placard1'] .title {
  background-color: #fff9f5;
  z-index: 10;
}

[data-type='placard1'] icon {
  font-size: 20px;
  color: #fc8508;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
}

[data-type='placard1'] .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff9f5;
  margin: 0;
}

[data-type='placard1'] .title div {
  width: 50px;
  color: #484848;
  font-weight: 600;
  display: flex;
  align-items: center;
  background-color: #fff9f5;
  z-index: 10;
}

[data-type='placard1'] .con {
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5a5959;
  animation: 10s wordsLoop linear infinite normal;
}

.listName{
  width: 345px;
  margin: 15px;
  font-size: 20px;
  font-weight: 600;
}

@keyframes wordsLoop {
  0% {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes wordsLoop {
  0% {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}










/* ------------------------------------页面布局------------------------------------ */
.about {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin: 0.5rem;
  height: auto;
  background-color: #fff;
  width: 92rem;
}
.position {
  width: 100%;
  margin: 1rem;
  color: #2d8cf0;
  font-size: 0.8rem;
  text-align: left;

}
.position span {
  color: #9f9f9f;
}
.title {
  width: 100%;
  margin: 1rem;
  color: #343434;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}
.title i {
  color: #f98a10;
  font-size: 0.8rem;
}
.title span {
  font-size: 0.6rem;
  color: #2d8cf0;
  margin-right: 1rem;
}
.factory {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;

}
.factory .tool {
  margin: 0 1rem;
  margin-right: 1.5rem;
  width: 15rem;
  height: 33rem;
}
.factory .effect {
  margin: 0 1rem;
  margin-right: 1.5rem;
  width: 390px;
  height: 33rem;
}
.factory .delDom {
  margin: 0 1rem;
  margin-right: 1.5rem;
  width: 3rem;
  height: auto;
  border: 1px solid #999;
  border-radius: 1rem;
}
.factory .adjustment {
  margin: 0 1rem;
  margin-right: 1.5rem;
  width: 35.3rem;
  height: auto;
}

.tool {
  border: 1px solid #9f9f9f;
  border-radius: 0.5rem;
}
.tool .nav-tabs {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.tool .nav-tabs li {
  height: 2rem;
  width: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfcfcf;
  color: #555;
  border-radius: 0 0.5rem 0 0;
}
.tool .nav-tabs li:nth-child(1) {
  border-radius: 0.5rem 0 0 0;
}
.tool .nav-tabs li:nth-child(2) {
  border-radius: 0 0.5rem 0 0;
}
.tool .nav-tabs .active {
  color: #2d8cf0 !important;
  background-color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
}
.tool .newPage{
  width: 10.35rem;
  height: 1.52rem;
  line-height: 1.52rem;
  color: #555;
  background-color: #fff;
  border-radius: 0.3rem;
  border: 1px solid #9f9f9f;
  margin: 1rem auto;
}
.tool .pageLi li {
  width: 14rem;
  height: 1.9rem;
  border: solid #9f9f9f;
  border-width: 0px;
  border-top-width: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  color: #555;
  font-size: 0.5rem;
}
.tool .pageLi li:last-child{
  border-bottom: 1px solid #9f9f9f;
}
.tool .pageLi .iconfont {
  color: #9f9f9f;
  margin-left: 0.25rem;
}
.tool .pageLi .iconfont:hover {
  color: #f98a10;
}
.tool .moduleList .item {
  margin-top: 1rem;
}
.tool .moduleList .typeNmae{
  width: 100%;
  color: #555;
  font-size: 0.5rem;
}
.tool .moduleList .item ul {
  width: 100%;
  height: auto;
  text-align: left;
}
.tool .moduleList .item ul li {
  border: 1px solid #cfcfcf;
  width: 2.25rem;
  height: 2rem;
  background-color: #fafaf9;
  color: #555;
  font-size: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem 0.825rem;
  border-radius: 0.25rem;
}
.tool .moduleList .item ul li:hover {
  border: 1px dashed #2d8cf0;
}
.tool .moduleList .item ul li .iconfont {
  font-size: 0.85rem;
  color: #2d8cf0;
}
.effect {
  border: 1px solid #9f9f9f;
  border-radius: 1.5rem;
}
.effect .mobileSta {
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.25rem;
  color: #343434;
}
.effect .mobileSta .pageInfo {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.effect .mobileSta .iconfont {
  margin: 0.2rem;
}
.effect .pageInfo .iconfont {
  margin: 0.3rem;
}
.effect .pageInfo span {
  font-size: 0.3rem;
  font-weight: 600;
  color: #343434;
}
.effect .pageShow {
  width: 375px;
  height: 25rem;
  padding: 0;
  position: relative;
  overflow-y: auto;
  margin: 0 auto;
  border: 1px solid #333;
  background-color: #ccc;
}
.effect .pageShow::-webkit-scrollbar {
    display: none;
}
.adjustment {
  border: 1px solid #9f9f9f;
  border-radius: 0.5rem;
}

.domList {
  display: none;
}
#component1dom,
#component2dom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#component1dom img,
#component2dom img {
  width: 100%;
  height: 10rem;
}
.copyDropDom{
  position: relative;
  
}
.copyDropDom .delDomClick{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.copyDropDom .delDomClick .iconfont{
  width: 20px;
  height: 20px;;
  color: red;
  border: 1px solid red;
  font-size: 15px;
  margin: 0 5px;
  background-color: #cdcdcd;
  border-radius: 0;
  text-align: center;
  line-height: 20px;
}
.copyDropDom:hover .delDomClick{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .copyDropDom, .item{
  cursor: pointer;
  box-sizing: border-box;
  -webkit-user-drag: element;
  user-select: none;
  display: block;
} */
/* *{
  box-sizing: border-box;
} */
